@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.auth-form-container {
  font-family: 'Montserrat', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #141414;
}

.signup-form{
  font-family: 'Montserrat', sans-serif;
  color: rgb(185, 185, 185);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h1, .signup-form h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #7843E6;
  margin: 15px;
}

.form-group, .signup-form input {
  margin: 1rem 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #606060;
}

button[type="submit"] {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #ffd500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #f1c40f;
}

@media only screen and (max-width:1000px) {
  .auth-form-container{
    max-width: 90%;
    overflow-x: hidden; 
  }
  body{
    overflow-x: hidden;
  }
  .signup-form h2{
    font-size: 25px;
  }
  .signup-form button{
    width: 100%;
  }
}