form{
  text-align: center;
}

input{
  height: 50px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid rgb(195, 195, 195);
  outline: none;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 17px;
  color: rgb(53, 53, 53);
}

form button{
  height: 50px;
  width: 80%;
  background-color: rgb(0, 110, 255);
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

form button:hover{
  background-color: rgb(0, 79, 182);
}